
# For generated extensions
config/orbeon/config/properti
config/tomcat/conf/catalina.p
config/tomcat/conf/server.xml

/hybris_2211/hybris/bin/custom/**/.classpath
/hybris_2211/hybris/bin/custom/**/.classpath.bak
/hybris_2211/hybris/bin/custom/**/.settings
# Filename patterns to ignore
**/Generated*.java
*testclasses.xml
*hmc.jar
ruleset.xml
*.log
base.properties

 

*.gem
*.rbc
.bundle
.config
.yardoc
**/.idea/*
**/eclipsebin/*

 

# Package Files #
*.jar
*.war
*.ear

 

### Java template
*.class

 

### Eclipse template

 

.metadata
tmp/
/hybris_2211/tmp/
*.tmp
*.bak
*.swp
*~.nib
#.settings/
.loadpath
.recommenders

 

# Eclipse Core
.project

 

# External tool builders
#.externalToolBuilders/

 

# Workspace
/workspace
/hybris_2211/workspace

 

## Plugin-specific files:

 

# IntelliJ
/hybris_2211/out/

 

#**/generatedVariables.js
#**/generatedVariables.tag
**/build.xml
**/eclipsebin
**/classes
**/gensrc
**/platformhome.properties
**/extensioninfo.xsd
**/testclasses$
**/hmc/bin
**/resources/beans.xsd
**/resources/hmc.xsd
**/resources/items.xsd
**/lib/*.jar
**/lib/.lastupdate
**/*-testclasses.xml
**/*-webtestclasses.xml
**/jalo/**
**/jalo/*
**/jalo/
**/.springBeans*
**/Generated*



 

#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
**/lib/addons
**/web/addonsrc
**/_ui-src/addons
**/web/addontestsrc
**/web/commonwebsrc/*/
**/web/webroot/WEB-INF/lib/addon-*
wro_addons.xml


has context menu